# Linux files
*~

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# Logs
logs
*.log

# Local history
.history/
.local-history/

# Shells, terminals, keys, etc
.bash_history
.bash_profile.local
.bashrc.local
.profile.local
.zsh_history
.zshrc.local
.zprofile.local
.zcompdump*
.fish_history
fish_variables
.config/fish/fish_variables
.config/fish/fish_history
.tsh/
.teleport/
.ssh/
*.pem
*.key
*.crt
*.csr
*.der
*.pfx
*.p12
*.p7b
*.spc
*.keychain

# Cache / temp
.cache/
.temp/
.tmp/
.next/cache
*.tmp
*.temp

# Snapshots
__snapshots__/

# Debugging
*.heapdump
*.core
*.pid
*.hprof

# Dev configs
.vscode/
.idea/
.zed/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Env variables
.env
.env.*
!.env.example

# NPM / Yarn / PNPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Turbo
.turbo

# Next.js
.next/

# Storybook
storybook-static/

# Testing
coverage/
.nyc_output/
jest-coverage/

# Build
dist/
build/
.next/
out/










